body {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8em;
	margin: 0;
	padding: 0;
	text-align: center;
}
form,input,select,textarea {
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6 
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	padding: 0;
	margin: 0;
}
input {
	font-size: 100%;
}
ol,ul {
}
p {
	text-align: justify;
}
table {
	background: #345;
	width: 100%
}

#bigtable{
	width: 100%;
}

.w25 {
	width: 25%;
}
.w33 {
	width: 33%;
}
.w50 {
	width: 50%;
}

td {
	background: #eee;
	text-align: left;
	vertical-align: top;
}
th {
	background: #444444;
	color: #fff;
	text-align: right;
	vertical-align: top;
}
#content {
	text-align: left;
	width: 100%;
}
#linkstop {
	background: #234;
	color: #fff;
}
#linkstop a {
	color: #fff;
}
#score {
	color: #000;
	font-size: 85%;
	position:absolute;
	text-align: center;
	width: 100px;
	z-index: 10;
}
#score,#rating,#standards {
	font-weight: bold;
}
div.exceed {
	background-image: url(../images/img_status_exceed.png);
}
div.fail {
	background-image: url(../images/img_status_fail.png);
}
div.pass {
	background-image: url(../images/img_status_pass.png);
}
div.warn {
	background-image: url(../images/img_status_warn.png);
}
#scorebar {
	background-image: url(../images/bg_strength_gradient.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	position:absolute;
	width: 100px;
	z-index: 0;
}
#scorebarBorder {
	background: #333;
	border: 1px #000 solid;
	height: 16px;
	margin-bottom: 2px;
	width: 100px;
}
#password {
	border: 1px #000 solid;
	font-size: 85%;
	width: 100px;
}
#tablePwdScoring {
	margin-bottom: 0 !important;
}
#listLegend li {
	list-style: none;
	padding-bottom: 4px;
	margin-left: 0;
	padding-left: 0;
}
#listLegend {
	margin-left: 0;
	padding-left: 0;
}
div.fail,div.pass,div.exceed,div.warn {
	background-repeat: no-repeat;
	background-position: left top;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
	width: 16px;
}
td.exceed,td.fail,td.pass,td.warn {
	color: #fff;
	font-weight: bold;
	text-align: center;
}
li.danger,li.warning {
	font-weight: bold;
	list-style-type: square;
}

td.exceed {
	background: #1C60A4;
}
td.fail,li.danger {
	background: #C00;
}
td.pass {
	background: #093;
}
td.warn,li.warning {
	background: #f60;
}
div.box {
	background: #456;
	border: 1px #000 solid;
	color: #fff;
	height: 16px;
	padding: 2px;
	white-space: nowrap;
	width: 38px;
}
div.boxMinus,div.boxPlus {
	border: none;
	color: #fff;
	font-weight: bold;
	padding: 2px;
	text-align: left;
	white-space: nowrap;
}
td.footnote {
	background: #ddd;
	font-size: 70%;
}
.bold {
	font-weight: bold;
}
.clearNone {
	clear: none;
}
.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
.hide {
	display: none;
}
.imgLegend {
	clear: left !important;
	float: left !important;
	position: relative !important;
	margin-bottom: -3px !important;
	margin-right: 5px !important;
}
.inline {
	display: inline;
}
.italic {
	font-style: italic;
}
.noPad {
	padding: 0;
}
.show {
	display: inline !important;
}
.txtLg {
	font-size: 125%;
}
.txtSmall {
	font-size: 75%;
}
.txtCenter {
	text-align: center;
}
.txtRight {
	text-align: right;
}
.txtLeft {
	text-align: left;
}
div.xtend {
	clear: both !important; 
	line-height: 0; 
	height: 0;
}
a:link, a:visited 
{
	color:#459045;
	text-decoration:none;
	border-bottom:none;
}
a:hover, a:active 
{
	text-decoration:none;
}
#header {
	background: #FFFFFF url(../images/header-middle.png) repeat;
	width:100%;
	height: 73px;
}
#logo {
	background: url(../images/header-left.png) no-repeat left;
	height: 73px;
}
#blogname {
	height: 73px
	background: url(../images/header-right.png) no-repeat right;
}
h1#blogname a {
	color:#444444;
	font-size:30pt;
	text-decoration: none;
}
h1#blogname a:hover {
	text-decoration: none;
}

#footer {
	background:#223344 url(../images/top.gif) bottom repeat-x;
	clear: both;
	height: 60px;
	padding: 10px;
	text-align: center;
	margin:0 auto;
	color:#ccc;
}
	
	
